<h1>Listing teams</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Website</th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.Name %></td>
    <td><%= team.image %></td>
    	

  </tr>
<% end %>
</table>

<br />
