 <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Welcome</h1>
        <p class="lead">This is a class project for Cloud Application Development, 2013. Have a browse around why don't you.</p>
        <a class="btn btn-large btn-success" href="#">Get started today</a>
      </div>

      <hr>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4">
          <h2>Ireland U17 Open</h2>
          <p>The trial for the Irish U17 team competing at EYUC 13 will take place this Sunday in Gonzaga College. If you are interested in competing or know someone who is please complete this <a href="https://docs.google.com/a/irishultimate.com/spreadsheet/viewform?formkey=dEtFa2Z3cG85ZUhwalg5NmNNdUQ5MVE6MQ">form</a> by Friday</p>
          <p><a class="btn" href="http://www.irishultimate.com/national-teams/under-17/">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Siege of Limerick</h2>
          <p>Its nearly a month since Siege took place, but for all of you who don't want to forget just yet check out the video of the final. Great job guys! </p>
          <p><a class="btn" href="http://www.youtube.com/watch?v=eA7Ll0u34u4">View Video</a></p>
       </div>
        <div class="span4">
          <h2>All-Ireland Indoor Schools Finals</h2>
          <p>A team isn't a bunch of kids out to win. A team is something you belong to, something you feel, something you have to earn. School teams from all over Ireland will be traveling to the Watershed in Kilkenny to take part in the All-Ireland Indoor Schools Finals on Sunday 28th April.</p>
          <p><a class="btn" href="http://www.facebook.com/events/447907231945269/">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

